@import './styles/primary-palette';

html {
  background-color: $brightest;
  color: $darkest;
}

.light {
  background-color: $brightest;
  color: $darkest;
}

.dark {
  background-color: $darkest;
  color: $brightest;
}